<div class="form-title lined">Sign <span class="blue-text">In</span></div>

<%= form_tag sessions_path, :class => 'form', remote: true do %>
<div class="input-holder">
	<%= text_field_tag :email, params[:email] %>
	<%= label_tag :email %>
</div>
<div class="input-holder">
	<%= password_field_tag :password %>
	<%= label_tag :password %>
</div>
<!-- 
<%= submit_tag 'Sign in'%> -->

<%= button_tag(type: 'submit', class: "submit-btn") do %>
 Sign in
<% end %>

<% end %>
